# Dependency Directories
node_modules/
dist/
out/

# Environment Configurations
.env
.env.local
.env.*.local
**/secrets/
config/secrets.*
*.pem
*.key

# IDE Files and Cache
.vscode/*
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
